body {
    background-color: #1D1D1D !important;
    font-family: 'Roboto' !important;
    font-style: Regular !important;
    font-size: 14px !important;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

body a:hover {
    text-decoration: none;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.coord {
    position: absolute;
    transform: rotate(-90deg);
    top: calc(50% - 20px);
    left: -15px;
    width: 110px;
}
#cursorX, #cursorY {
    color: #868686;
    display: inline-block;
    width: 50px;
}

.mail {
    position: absolute;
    top: calc(50% - 35px);
    right: -45px;
    transform: rotate(-90deg);
    width: 180px;
    display: block;
    z-index: 999;
}

.mail a {
    color: #00E0FF;
}
.mail a:hover {
    color: #00E0FF;
}

.main-menu {
    position: fixed;
    width: 100%;
    padding-top: 34px;
    z-index: 999;
}

.main-menu a {
    color: #E5E5E5;
}

.main-menu a:hover {
    color: #E5E5E5;
}

.right-menu {
    float: right;
    margin-right: 64px;
    color: #E5E5E5;
}

.right-menu:hover {
    color: #E5E5E5;
}

.left-menu:hover{
    color: #69E4F5;
}

.left-menu{
    margin-left: 64px;
    color: #69E4F5;
}

.footer-menu{
    position: fixed;
    width: 100%;
    padding-bottom: 34px;
    bottom: 0;
    font-size: 18px;
    z-index: 999;
}

.vert-line {
    width: 1px;
    height: 100%;
    background-color: #868686;
    position: absolute;
    left: 0;
    z-index: 999;
}

.hor-line {
    width: 100%;
    height: 1px;
    background-color: #868686;
    position: absolute;
    top: 0;
    z-index: 999;
}

/* First page content */

.first-page-content {
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 1;
}

.greeting {
    color: #E5E5E5;
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 270px);
    width: 540px;
    height: 150px;
    text-align: center;
}

.greeting h1 {
    font-size: 57px;
}
.greeting h1 .updating {
    color: #69E4F5;
}

.greeting .info-block {
    padding: 0 40px;
    text-align: left;
}

.greeting .info-block span {
    font-size: 24px;
}

.scroll {
    position: fixed;
    bottom: 55px;
    left: calc(50% - 60px);
    transform: rotate(-90deg);
}

.scroll-line {
    display: inline-block;
    width: 70px;
    height: 1px;
    background-color: #00E0FF;
    margin-bottom: 3px;
    margin-right: 10px;
}

.scroll-text {
    color: #E5E5E5;
    font-size: 12px;
}